.digito{
    background-color: rgb(92, 67, 67);
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 3px;
    border: none;
    color: blanchedalmond;
}
.digito:hover{
    background-color: blueviolet;
}
.display{
    background-color: rgb(12, 11, 11);
    width: 230px;
    height: 40px;
    color: aliceblue;
}