body {
    background: rgb(243, 123, 11);
}

.title {
    font-size: 5.6rem;
    font-family: 'Lobster', cursive;
    display: scroll;
    position: fixed;
    top: 0px;
    right:10px;
}
.wrapper {
    background: url("villa.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    color: rgb(212, 90, 8);
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}
aside{
    width: 300px;
    border: #0026ff  5px dotted;
    margin: 0px;
    padding:10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:270px;
    left:5px;
}
.titles {
    text-align: center;
    color: black;
    background-color: chocolate;
}
.contacts{
    font-family: cursive;
    font-size: medium;
    text-align: center;
    color: black;
    background-color: chocolate;
}
      
@keyframes animation {
    100%{
    background-position:0px -3000px;
    }
}
@font-face {
    font-family: MyfirstFont;
    src: url(njnaruto.ttf);
}
h1 {
    font-family: MyfirstFont;
    color: rgb(243, 123, 11);
    -webkit-text-stroke: 1px rgb(0, 60, 241);
    font-size: 70px;
    position: fixed;
}
.cuerpo {
    width: 800px;
    border: 1px solid rgb(241, 97, 1);
    top:100px;
    margin-left:400px;

 }
.academic {
    width: 1200px;
    border: 1px solid rgb(241, 97, 1);
    margin-left: 90px;
    margin-bottom: 410px;
    margin-top: 0px;

 }
.title_table {
    width: 50%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgb(30, 5, 255);
    background-color:royalblue;

 }
.infor_td {
    width: 50%;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgb(30, 5, 255);
    background-color:chocolate;
 }
.idiomas{
    width: 440px;
    border: #0026ff  5px dotted;
    margin: 10px;
    padding:10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:800px;
    left:5px;

}
.imagenes{
    width: 120px;
    height: 120px;
    margin: 10px;
    
}
.español{
    color: black;
    position: absolute;
    top: 60%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.ingles{
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.japones{
    color: black;
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}